body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
 background-color:#f3e9cf;
  color: #333;
}

header {
  background-color:bisque;
  color: #2c300d;
  padding: 20px;
  text-align: center;
  
}
header a {
  text-decoration: none;
  color: rgb(22, 19, 19);

}
header a:hover{
  text-transform: capitalize;
  font-size: 2x-large;
}


h1 {
  margin: 0;
}

section.department {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#computer-science {
  background-image: url('computer.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fbfdfd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#computer-science a{
  text-decoration: none;
  color: rgb(252, 249, 249);

}
#computer-science a:hover{
  text-transform: capitalize;
  font-size: 2x-large;
}



#computer-science::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#mathematical-science {
  background-image: url('maths.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fbfdfd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#mathematical-science::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#information-science{
  background-image: url('information.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fbfdfd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#information-science::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#food-technology {
  background-image: url('food.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #fbfdfd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#food-technology::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


#hotel-management{
  background-image: url('hotel.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust the height as needed */
  color: #010303;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

#hotel-management::before {
    content: "";
    background: rgba(235, 223, 223, 0.5); /* Adjust the alpha value to control darkness */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #345995;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
